.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border: 1px solid lightseagreen;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 1.5rem 1rem rgb(0 0 0 / 20%);
}